<h1>All Users</h1>
<%= link_to "Back to Products", products_url %>
<% @users.each do |user| %>
	<p><%= link_to user.email.gsub(/\W\w*/, '').capitalize, "/users/#{user.id}" %>:
	<%= user.email %>
<% end %>