

<div class="cards">
  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    </div>
    <div class="card-header">
      <strong><%= link_to product.name, product %></strong> | <%= format_price(product.formatted_price) %>
    </div>
    <div class="card-copy">
      <p><%= truncate(product.description, length: 50) %></p>
    </div>
  </div>
