<%= form_for [@product, @review], :remote => true do |f| %>


<% if @review.errors.present? %>
  <% @review.errors.full_messages.each do |error| %>
    <div class = "alert">
      <%= error %>
    </div>
  <% end %>
<% end %>

<% end %>